<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#" ng-click="vm.content='views/general.html'"><b>Sitecore Extensions</b></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#" ng-click="vm.content='views/general.html'">General</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modules <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="vm.content='views/modules/launcher/index.html'">Launcher</a></li>
                        <li><a href="#" ng-click="vm.content='views/modules/dbColor/index.html'">Database Color</a></li>
                        <li><a href="#" ng-click="vm.content='views/modules/dbName/index.html'">Database Name</a></li>
                        <li><a href="#" ng-click="vm.content='views/modules/sectionSwitches/index.html'">Section Switches</a></li>
                        <li><a href="#" ng-click="vm.content='views/modules/restoreLastLocation/index.html'">Restore Last Location</a></li>
                        <li><a href="#" ng-click="vm.content='views/modules/fieldSearch/index.html'">Field Search</a></li>
                        <li><a href="#" ng-click="vm.content='views/modules/treelistField/index.html'">Treelist Field</a></li>
                        <li><a href="#" ng-click="vm.content='views/modules/treeScope/index.html'">Tree Scope</a></li>
                        <li><a href="#" ng-click="vm.content='views/modules/fieldInspector/index.html'">Field Inspector</a></li>
                        <li><a href="#" ng-click="vm.content='views/modules/toggleRibbon/index.html'">Toggle Ribbon</a></li>
                        <li><a href="#" ng-click="vm.content='views/modules/databaseSelector/index.html'">Database Selector</a></li>
                        <li><a href="#" ng-click="vm.content='views/modules/goToDatasource/index.html'">Go To Datasource</a></li>
                        <li><a href="#" ng-click="vm.content='views/modules/treeAutoExpand/index.html'">Tree Auto Expand</a></li>
                        <li><a href="#" ng-click="vm.content='views/modules/scrollToItem/index.html'">Scroll To Item</a></li>
                    </ul>
                </li>
                <li><a href="#" ng-click="vm.content='views/settings.html'">Settings</a></li>
                <li><a href="#" ng-click="vm.content='views/links.html'">Links</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="vm.content='views/about.html'">About</a></li>
            </ul>
        </div>
    </div>
</nav>