<div class="row">
    <div class="col-lg-8 col-md-offset-2">
        <div ng-controller="DatabaseColorController as vm">

            <h1><a href="{{::vm.link}}" class="doc-link">{{::vm.title}}</a></h1>
            <div class="bs-component">
                <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                    <li class="active"><a href="#general" data-toggle="tab" aria-expanded="true">General<div class="ripple-container"></div></a></li>
                    <li class=""><a href="#color_mapping" data-toggle="tab" aria-expanded="false">Color mapping<div class="ripple-container"></div></a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="general">
                        <form ng-submit="vm.onSubmit()" name="vm.form">
                            <formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
                                <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Save</button>
                            </formly-form>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="color_mapping">
                        <div class="col-lg-12">
                            <h4>Add new database color mapping</h4>
                            <form class="link-form ng-pristine ng-valid" ng-submit="vm.add()">
                                <input class="form-control ng-pristine ng-empty well-sm" placeholder="database name" ng-model="name" autofocus="" />
                                <input class="form-control ng-pristine ng-empty well-sm colorPicker jscolor" placeholder="color" ng-model="color" autofocus=""
                                    ngvalue="defaultColor" />
                                <button action="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>

                        <div class="col-lg-12 vspace3" ng-if="dbColors.length > 0">
                            <h4>Edit Mappings:</h4>
                            <div>
                                <div class="col-lg-5">
                                    <h5>Database name</h5>
                                </div>
                                <div class="col-lg-5">
                                    <h5>Color</h5>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>

                            <div ng-repeat="item in dbColors | orderBy:'1*order' track by $index" ng-class="{completed: item.completed, editing: item == editedDbColor}">
                                <form ng-submit="vm.doneEditing(item)" class="col-lg-12">
                                    <div class="col-lg-5"><input class="form-control mtr-tabs" ng-model="item.name" /></div>
                                    <div class="col-lg-5"><input class="form-control mtr-tabs jscolor " ng-model="item.color" /></div>
                                    <div class="col-lg-2">
                                        <button class="btn btn-primary btn-danger " ng-click="vm.remove(item)">remove</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>