$body-background-color: #ffffff;
$body-heading-color: #252525;
$body-text-color: #454545;
$link-color: #c62b25;
$nav-child-link-color: #5a5a5a;
$sidebar-color: #f5f6f7;
$base-button-color: #f0f1f2;
$btn-primary-color: #d9362b;
$code-background-color: #f1f2f3;
$feedback-color: #e8e9ea;
$table-background-color: #ffffff;
$search-background-color: #ffffff;
$search-result-preview-color: #666666;
$border-color: #d9dadb;