$break-medium: 992px;
$break-small: 500px;
$break-tiny: 400px;

.sc-ext-dbName {
  float: left;
  margin-left: -10%;
}

@media only screen and (max-width: $break-medium) {
  .sc-ext-dbName {
    padding-left: 40%;
    margin-left: 0px;
  }
}

@media only screen and (max-width: $break-small) {
  .sc-ext-dbName {
    padding-left: 25%;
    margin-left: 0px;
  }
}

@media only screen and (max-width: $break-tiny) {
  .sc-ext-dbName {
    display: none;
  }
}