.scEditorTabControls {
    input[type="text"].sc-ext-fieldSearch {
        display: inline !important;
        margin-right: 10px;
        height: 26px;
        min-height: 26px;
        width: 300px !important;
    }
}

