<div class="row">
	<style>
		.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-4, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-4, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
			padding-left: 0px;
		}

		input.order {
			text-align: center;
		}
	</style>
	<div class="col-lg-8 col-md-offset-2">
		<div ng-controller="LinksController">
			<div class="col-lg-12">
				<h1>Add new Links</h1>
				<form class="link-form ng-pristine ng-valid" ng-submit="vm.addLink()">
					<input class="form-control ng-pristine ng-empty" placeholder="name" ng-model="name" autofocus="" />
					<input class="form-control ng-pristine ng-empty" placeholder="url" ng-model="url" autofocus="" />
					<select class="form-control ng-pristine ng-valid ng-not-empty ng-touched ng-untouched" ng-model="mode" ng-value="currenttab">
    			<option value="currenttab">Current Tab</option>
    			<option value="newtab">New Tab</option>
			</select>
					<button action="submit" class="btn btn-primary">Add</button>
				</form>
			</div>

			<div class="col-lg-12 vspace5" ng-if="links.length > 0">
				<h1>Edit Links:</h1>
				<div>
					<div class="col-lg-1">
						<h4>Order</h4>
					</div>
					<div class="col-lg-2">
						<h4>Name</h4>
					</div>
					<div class="col-lg-5">
						<h4>Url</h4>
					</div>
					<div class="col-lg-2">
						<h4>Type</h4>
					</div>
					<div class="col-lg-2"></div>
				</div>
				<div ng-repeat="link in links | orderBy:'1*order' track by $index" ng-class="{completed: link.completed, editing: link == editedLink}">
					<form ng-submit="vm.doneEditing(link)" class="col-lg-12">
						<div class="col-lg-1"><input class="form-control order" ng-model="link.order" ng-model-options="{ updateOn: 'blur'}"/></div>
						<div class="col-lg-2"><input class="form-control" ng-model="link.name" /></div>
						<div class="col-lg-5"><input class="form-control" ng-model="link.url" /></div>
						<div class="col-lg-2">
							<select class="form-control" ng-model="link.mode">
    					<option value="currenttab">Current Tab</option>
    					<option value="newtab">New Tab</option>
					</select>
						</div>
						<div class="col-lg-2">
							<button class="btn btn-primary btn-danger " ng-click="vm.removeLink(link)">destroy</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>