body {
  padding: 20px;
}

a:link {
    color: red;
}

a:visited {
    color: red;
}

a:hover {
    color: black;
}
a:active {
    color: black;
}

.text {
  font-weight: 700;
  font-size: 8vw;
}

.logo {
  margin-top: 0px;
  margin-bottom: 30px;
}

#go-to-options{
  float: right;  
}

#version{
  float: left;  
}
