body {
  margin: 0;
}

@font-face {
  font-family: 'fontawesome-webfont';
  src: url('../fonts/fontawesome-webfont.eot?22561381');
  src: url('../fonts/fontawesome-webfont.eot?22561381#iefix')
  format('embedded-opentype'),
  url('../fonts/fontawesome-webfont.woff?22561381')
  format('woff'), url('../fonts/fontawesome-webfont.ttf?22561381')
  format('truetype'),
  url('../fonts/fontawesome-webfont.svg?22561381#fontawesome-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  font-family: "fontawesome-webfont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  padding-right: 5px;
}

li.logo {
  float: right !important;
  margin-right: 10px;
  padding-top: 2px;
}

ul.link-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 350px;
  background-color: #f1f1f1;
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #555;
    color: white;
  }
}

ul.header-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  li.active {
    background-color: #111;
  }
}

.wrapper{
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136,136,136,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: #000;
}

.info-section {
  background-color: #2b2b2b;
  color: white;
  padding: 5px 15px 1px 15px;
  font-family: Arial, sans-serif;
}

.no-data {
  display: none;
}

.info-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.label {
  font-weight: bold;
}