.scEditorTabControls {
    input[type="text"].sc-ext-fieldSearch {
        display: inline !important;
        margin-right: 10px;
        height: 26px;
        min-height: 26px;
        width: 130px !important;
    }
}

.sc-ext-hiddenElement {
    display: none;
}

.sc-ext-forceExpandedElement {
    display: table !important;
}

span.sc-ext-searchFieldContainer {
    position: relative;
    span.sc-ext-fieldSearchClear {
        position: absolute;
        display: block;
        border-top: 6px solid white;
        border-bottom: 6px solid white;
        border-right: 6px solid white;
        top: -3px;
        right: 11px;
        width: 10px;
        height: 10px;
        background: url('../images/ic_close_black_24dp_1x-b.png') 17px 17px;
        cursor: pointer;
    }
    input {
        padding-right: 16px;
    }
}