.scEditorTabControls {
    input[type="text"].sc-ext-fieldSearch {
        display: inline !important;
        margin-right: 10px;
        height: 26px;
        min-height: 26px;
        width: 130px !important;
    }
}

.sc-ext-hiddenElement {
    display: none;
}

.sc-ext-forceExpandedElement {
    display: table !important;
}

span.sc-ext-searchFieldContainer {
    position: relative;
    span.sc-ext-fieldSearchClear {
        position: absolute;
        display: block;
        border-top: 6px solid white;
        border-bottom: 6px solid white;
        border-right: 6px solid white;
        top: -3px;
        right: 11px;
        width: 10px;
        height: 10px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfgBR4PNzAfNMlbAAAA1klEQVQ4y+WTKxKDMBCGlz4U+KZoBAfoPdoroAgaTwYRU1ofPDM9QHuB+poydfELChdNBcNQIDD1/CrJ/N8+sgnAsvW+cIlseIqMyzzp9qtu+ThWjqB9BJkIKud+0gJeZpaK/CLIRKB2VuFlE0Uhi4qwjooGQRaVYc2wn9MYIoIqYpZUADTR/dSOZ4AOAUNn1wBt5QA6e6/p/7TWx7eKrVL73L1Z1+cs0Nr99PDKXUXGyEZvt2MABEEVERRh3Ano770/l5G4HI+pQbjUAnky9fg+54X/yy88t4P7PozvzAAAAABJRU5ErkJggg==') 17px 17px;
        cursor: pointer;
    }
    input {
        padding-right: 16px;
    }
}