.sc-ext-getfieldName-value:after {
    content: "]"
}

.sc-ext-getfieldName-value:before {
    content: "["
}

.sc-ext-gotofield:after {
    content: "]"
}

.sc-ext-gotofield:before {
    content: "["
}